SSH_DEMO_PASSWORD=replace-me

VLESS_REALITY_MAIN_UUID=replace-me-uuid
REALITY_MAIN_PRIVATE_KEY=replace-me
REALITY_MAIN_PUBLIC_KEY=replace-me

HY2_MAIN_PASSWORD=replace-me
SS2022_MAIN_PASSWORD=replace-me

RES_US_STATIC_USER=replace-me
RES_US_STATIC_PASS=replace-me

CERT_HY2_FULLCHAIN=/opt/myproxy/certs/hy2/fullchain.pem
CERT_HY2_PRIVKEY=/opt/myproxy/certs/hy2/privkey.pem
